
<p>{{message}}</p>
<app-navbar></app-navbar>
<app-post [fromParent]="parentMessage" ></app-post>
<p>{{fromChildOutput}}</p>


<!--String interpolletion-->
<img src="{{imgUrl}}">


<!--PROPERTY BINDING -->
<img [src]="imgUrl">

<!--class binding-->
<h1 [class.text-red]="bool">Gagana Chiranjitha</h1>

<!--style binding-->
<h1 [style.color]="bool?'red':''">style binding</h1>

<!--event binder-->
<button (click)="buttonClick()">click me</button>
<!--event filtering-->

<!--template variable-->
<input type="text" (keyup.enter)="onKeyup(username.value) "#username>

<input type="text"[(ngModel)]="userName" (keyup.enter)="onKeyup()>