<div class="form-area">

<h1>Post form</h1><br><br>
<input type="text" placeholder="post Title" name="postTile" [(ngModel)]='postTile'><br><br>
<textarea cols="30" rows="10" name="postDetails" placeholder="post details"[(ngModel)]='postDetails'></textarea><br><br>
<input type="text" placeholder="post image url"[(ngModel)]='imageURL'><br><br>
<input type="text" placeholder="post URL"[(ngModel)]='postURL'><br><br>
<!-- <input type="checkbox" [(ngModel)]='addBackground'>Add backgroud -->

</div>

<div class="preview-area">


<h1>{{postTile}}</h1>
<p>{{postDetails}}</p>
<img [src]="imageURL" alt="">
<a [href]="postURL" target="_blank" [style.display]="postURL ? 'block' :'none'">more details</a>






</div>